absl-py==0.15.0
astunparse==1.6.3
cachetools==5.5.2
flatbuffers==1.12
gast==0.3.3
google-auth==2.39.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
hpack==4.0.0
Keras-Preprocessing==1.1.2
Markdown==3.7
mkl-service==2.4.0
munkres==1.1.4
oauthlib==3.2.2
opt-einsum==3.3.0
protobuf==3.20.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyQt5==5.15.9
pywin32==306
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.15.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
Werkzeug==3.0.6
wrapt==1.12.1
zstandard==0.23.0
